<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
</head>
<body>
    <h1>Welcome to the <% title %></h1>

    <div>
        <a href="/books"><button type="button" class="btn btn-outline-primary">View Books</button></a>
        <a href="/categories"><button type="button" class="btn btn-outline-secondary">View Categories</button></a>
        <a href="/authors"><button type="button" class="btn btn-outline-success">View Authors</button></a>
    </div>
</body>
</html>