<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Category</title>
</head>
<body>
    <h1><%= formTitle %></h1>
    <form action="/new-category" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <button type="submit">Add Category</button>
    </form>

    <a href="/books"><button type="button">Back to Books List</button></a>
</body>
</html>